*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header{
    height: 15vh;
    position: fixed;
    background-color: white;
    border-radius: 25px;
    width: 94%;
    margin-left: 3%;
    margin-top: 5px;
    box-shadow: 3px 3px .4em grey;
}

header ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header li{
    height: 100%;
    display: flex;
    align-items: center;
}

header img{
    height: 14vh;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
}

header a:hover{
    font-size: 1.3em;
    font-weight: bold;
}

#aAcc{
    color: red;
}
#aServ{
    color: rgb(27, 185, 27);
}
#aDec{
    color: blue;
}
#aCon{
    color: rgb(255, 157, 0);
}



#intro{
    height: 100vh;
    background-image: url("../imgs/walking-in-the-forest-gcaec44047_1920.jpg");
    background-position: bottom -15vh right -20vw;
    background-repeat: no-repeat;
}
h1{
    font-style: italic;
    color: white;
    margin-left: 5vw;
    padding-top: 19vh;
    font-size: 3em;
    font-weight: 400;
}

#test{
    height: 100vh;
}