*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#header{
    height: 15vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width: 94%;
    margin-left: 3%;
    margin-top: 5px;
    box-shadow: 3px 3px .4em grey;

    z-index: 99;
}

header ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header li{
    height: 100%;
    display: flex;
    align-items: center;
}

header img{
    height: 14vh;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
}

header a:hover{
    font-size: 1.3em;
    font-weight: bold;
}

.aAcc, header>nav .aAcc{
    color: red;
}
.aServ{
    color: rgb(27, 185, 27);
}
.aDec{
    color: blue;
}
.aCon{
    color: rgb(255, 157, 0);
}



footer{
    /* margin-top: 40vh; */
    height: 40vh;

}

footer img{
    width: 50%;
}

#navouille ul{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer li{
    list-style: none;
}

footer>#navouille>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
}

footer #navouille a:hover{
    font-weight: 600;
}


#reseaux{
    height: 20vh;
    display: flex;
    align-items: center;
}

#reseaux img:hover{
    scale: 1.2;
}

#reseaux a{
    display: flex;
    justify-content: center;
}

footer p{

    width: 24%;
    margin-left: 38%;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* index */

#intro{
    height: 100vh;
    background-image: url("./imgs/walking-in-the-forest-gcaec44047_1920.jpg");
    background-position: bottom -15vh right -20vw;
    background-repeat: no-repeat;
}
h1{
    font-style: italic;
    color: rgb(255, 255, 255);
    margin-left: 5vw;
    padding-top: 19vh;
    font-size: 3em;
    font-weight: 500;
    text-shadow: 2px 2px black;
}


#mainAcc{
    position: relative;
    height: 200vh;
    background-color: pink;
    margin-bottom: 40vh;
}

polygon{
    position: absolute;
    /* top: 0;
    right: 0; */
}

h2{
    position: absolute;
    top: 20vh;
    left: 5vw;
    font-size: 2em;
}

#p1{
    position: absolute;
    top: 30vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 70%;
}

#p1 p{
    font-size: 1.3em;
}
#p1 a{
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    font-weight: 600;
    animation-name: swag;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes swag{
    from{
        color: white;
    }20%{
        color: red;
    }40%{
        color: blue;
    }60%{
        color: violet;
    }80%{
        color: green;
    }to{
        color: white;
    }
}

#g7{
    position: absolute;
    top: 45vh;
    right: 5vw;
    border-radius: 50%;
    width: 27%;
    opacity: 1;
    animation-name: ghost;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ghost{
    from{
        opacity: 1;
    }50%{
        opacity: 0;
    }to{
        opacity: 1;
    }
}




h3{
    position: absolute;
    top: 100vh;
    right: 38vw;
    font-size: 2em;
}

#ateliers img{
    width: 250px;
}

#ateliers{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 5%;
    margin-top: 25vh;
}
#ateliers div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#ateliers a{
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
#ateliers a:hover{
    font-weight: 600;
    font-size: 1.1em;
}




h4{
    position: absolute;
    top: 180vh;
    font-size: 2em;
    animation-name: promenade;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(5, end);

}

@keyframes promenade{
    from{
        margin-left: 3%;
    }50%{
        margin-left: 85%;
    }to{
        margin-left: 3%;
    }
}


#contact{
    position: absolute;
    top: 195vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    /* border: solid black 1px; */
}

#contact a{
    color: black;
    text-decoration: none;
    animation-name: gros;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes gros{
    from{
        font-size: 1em;
    }50%{
        font-size: 1.4em;
        color: red;
    }to{
        font-size: 1em;
    }
}

#contact img{
    width: 18%;
}

#contact div{
    width: 70%;
    display: flex;
    justify-content: space-around;
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* fin index */


/* connexion */
#connex{
    background-color: rgb(161, 161, 248);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pCon{
    margin-top: 25vh;
    font-size: 1.1em;
}
#formCon{
    margin-top: 10vh;
    background-color: rgba(57, 49, 65, 0.5);
    height: 50vh;
    width: 30%;
    border-radius: 25px;
    font-size: 1.1em;
    display: grid;
    grid-template: 20% 15% 10% 15% 10% 15% 15%/10% repeat(4, 20%) 10% ;
}
#lid{
    grid-area: 1/2/2/4;
    display: flex;
    align-items: end;
}
#id{
    grid-area: 2/2/3/6;
    border-radius: 15px;
    border: none;
}
#lmdp{
    grid-area: 3/2/4/6;
    display: flex;
    align-items: end;
}
#mdp{
    grid-area: 4/2/4/6;
    border-radius: 15px;
    border: none;
}
#sub{
    grid-area: 6/3/7/5;
    border-radius: 15px;
    border: none;
    background-color: rgb(86, 60, 110);
    color: white;
    font-size: 1.3em;
    box-shadow: 3px 3px 0.5em black;
}
#sub:hover{
    cursor: pointer;
}
#sub:active{
    box-shadow: inset 1px 1px 0.5em black;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* fin connexion */





/* nous decouvrir */

#rose{
    background-color: rgb(248, 230, 233);
    padding-top: 20vh;
}
#banalites{
    height: 80vh;
    display: grid;
    grid-template: 50% 10% 40%/ 55% 45%;
    overflow: hidden;
}
#chrumg{
    grid-area: 1/1/2/-1;
    display: grid;
    grid-template: 1fr/55% 45%;
    overflow: hidden;
}
#img1{
    grid-area: 1/1/2/2;
    overflow: hidden;
}
#img1 img{
    width: 100%;
}
#blabla1{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 20% 80%/1fr;
    background-color: white;
}
#blabla1 p{
    grid-area: 1/1/2/3;
    padding: 10px;
}
#blabla1_1 {
    display:grid;
    grid-template:1fr/35% 65% ;
}
#blabla1_1 p{
    grid-area: 1/1/2/2;
    margin-top: 5vh;
    padding: 10px;
}
#murmur{
    grid-area: 1/2/2/3;
    width: 100%;
}

#chrumgchrung{
    grid-area: 3/1/-1/-1;
    display: grid;
    grid-template: 1fr/55% 45% ;
    background-color: white;
}
#blabla2{
    grid-area: 1/1/2/2;
    padding: 10px;
    margin-top: 8vh;
}
#blabla2_1{
    grid-area: 1/2/2/3;
    overflow: hidden;
}
#blabla2_1 img{
    width: 100%;
    margin-top: -10vh;
}


/* deuxiemepartie ns decouvrir */
#laTeam{
    margin-top: 25vh;
}
h5{
    font-size: 1.8em;
    margin-left: 10vw;
    margin-bottom: 10vh;
}
#laTeam div{
    display: flex;
    display: flex;
    justify-content: space-around;
}
#laTeam img{
    width: 20vw;
    height: 30vh;
}
#laTeam article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    width: 20vw;
}
#laTeam h6{
    font-size: 2em;
}

#laTeam p{
    text-align: justify;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* fin ns decouvrir */

/* Contact */
#mainCont{

    background-color: rgb(206, 247, 146);
    padding-top: 20vh;
    padding-bottom: 15vh;
}

#mainCont section{
    margin-top: 10vh;
    height: 40vh;
}

#infos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#infos img{
    width: 30%;
}
#infos div p{
    text-align: center;
}

#mainCont #contacto{
    background-color: rgba(49, 145, 49, 0.5);
    margin: 15vh 38%;
    height: 70vh;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}


#mit{
    width: 40%;
    height: 7vh;
    border-radius: 45px;
    border: none;
    background-color: green;
    color: white;
    font-size: 1.5em;
    box-shadow: 2px 2px 0.3em black;

}
#mit:hover{
    cursor: pointer;
}
#mit:active{
    box-shadow: inset 1px 1px 0.5em black;
}

#nom, #prenom, #mail{
    height: 5vh;
    border: none;
    border-radius: 15px;
    width: 70%;
}
#mess{
    height: 20vh;
    border: none;
    border-radius: 15px;
    width: 70%;
    background-image: url(./imgs/jack-russell-terrier-gd72cff3e2_1920.jpg);
    background-size: cover;
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* fin contact */






/* nos prestations */
#chouquette{
    background-color: #F6EDD9;
    padding-top: 25vh;
}
#title{
    margin-left: 10vw;
    font-size: 1.8em;
    margin-bottom: 10vh;
    animation-name: jojo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes jojo{
    from{
        font-style: normal;
    }to{
        font-style: italic;
    }
}
#secBlog{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#artBlog{
    width: 50%;
    display: flex;
    overflow: hidden;

}
#tf{
    width: 40%;
    max-width: 40vw;
    max-height: 40vh;

}
#salut{
    padding: 15px;
}
#titrr{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 2vh;
}
#expert{
    margin-top: 15vh;
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#expert img{
    width: 40vh;
}
#expert p{
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin-right: 3vw;
}
#lunettes{
    border-radius: 50%;
    height: 35vh;
}